#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.searchbar-box {
  padding: 0.8rem 1.2rem;
}
body {
  overflow-x: hidden;
}
.searchbar-container {
  margin-top: 4.8rem;
}
.movie__detail--box {
  margin-top: 12rem;
  box-shadow: 0 0 100px rgba(171, 139, 255, 0.3);
  padding: 6rem 6rem;
  opacity: 0;
  transform: translateX(40px);
  animation: fadeSlideIn 0.6s ease-in-out forwards;
}

.hmb-button {
  padding: 0.6rem 3rem;
  margin-top: 4.8rem;
  transition: all 300ms;
}
.movie-genre {
  padding: 0.6rem 0.9rem;
}
.movie__details--main {
  margin-top: 4rem;
}
.span--text {
  text-color: #a8b5db;
}
.movie__rating {
  padding: 0.6rem 3rem;
}
.img__box {
  padding: 1.6rem;
}
.movie-span {
  margin-right: 1.2rem;
}
.movies__list {
  width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.movielist {
  margin-top: 6rem;
  justify-items: center;
  align-items: center;
  animation: comeIn 600ms;
}
.trendinglist {
  animation: comeIn 600ms;
}
.moviecard-text {
  padding: 0 1.2rem;
}
.movie__info--box {
  padding: 0 1.2rem;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
@keyframes comeIn {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes comeInLeft {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.animate-left {
  aniamtion: comeInLeft 600ms;
}
@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.movie-cat {
  margin-top: 12rem;
  animation: comeIn 600ms;
}
.trending-num {
  color: transparent;
  -webkit-text-stroke: 2px white;
  margin-right: -1.2rem;
}
